<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
				http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<context:annotation-config/>
	<context:property-placeholder/>
	
	<bean id="dataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${jdbc.driver}" />
        <property name="url" value="${jdbc.url}" />
    </bean>
    
	
	<bean id="status" class="com.aurea.antipattern.sample.spring.bean.Status">
       	<constructor-arg index="0" value="Component"/>
        <constructor-arg index="1" value="OK"/>
    </bean>
    
    <bean id="statusWithDiffArgsUsingIndex" class="com.aurea.antipattern.sample.spring.bean.Status">
       	<constructor-arg type="java.lang.String" value="Component"/>
        <constructor-arg type="java.lang.Integer" value="1"/>
    </bean>

	<bean id="componentHelper" class="com.aurea.antipattern.sample.spring.helper.ComponentHelper"/>
	<bean id="componentService" class="com.aurea.antipattern.sample.spring.services.ComponentService">
		<constructor-arg ref="componentHelper"></constructor-arg>
	</bean>
</beans>